@charset 'utf-8'; /* 항상 1번 줄에 배치 */

/* font import */
@import url("./font/font.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    border: 0;
    vertical-align: middle;
}

html {
    font-size: 16px;
}

body {
    font-family: "Poppins", "Pretendard", sans-serif;
    color: #222;
    font-size: 16px;
    line-height: 1; /* x1 */
    letter-spacing: 0;
    word-break: keep-all; /* 단어를 지켜서 줄내림 */
}

html.active {
    overflow-y: hidden;
    overflow-x: hidden;
}

/*
    common : 2번 이상의 재활용 코드
*/

.inner {
    position: relative;
    display: block;
    /* 반응형은 max-width 설정 */
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
}

/* -------------------------------- layout -------------------------------- */

.wrap {
    position: relative;
    display: block;
}

/* top */

.header {
    /* 메뉴가 상단에 고정해서 스크롤이 된다면 fixed */
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100px;
    /* header는 항상 z-index 최대값을 준다. */
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    transition: height 0.5s, background 0.5s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* transition: all 0.5s; */
}

.header .inner {
    height: 100%;
    max-width: 100%;
    z-index: 9;
}

/*
    left, top, right, bottom 사용 시
    반드시 position: absolute 쓰기.
    즉, position: relative에 쓰지 않도록 한다.
*/

.logo {
    position: absolute;
    top: 35px;
    left: 60px;
    /*
        a, span 등은 inline 태그
        너비, 높이, margin, padding 설정 못함
        그래서 최소 inline-block으로 설정해야한다.
    */
    display: inline-block;
    width: 125px;
    height: 30px;
    background: url('../images/logo_white.png') no-repeat center;
    background-size: cover;
    transition: top 0.5s, background 0.5s;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.gnb { /* ul */
    height: 100%;

    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}

/* .gnb > li : 또 다른 서브메뉴(li)가 있다면 명확히 선택한다 */

.gnb > li > a {
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    /* 왜 padding을 쓰는가? a의 영역을 확대하기 위함 */
    padding: 40px 34px;
}

.gnb > li > a > span {
    position: relative;
    padding-bottom: 8px;
}
.gnb > li > a > span::after {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.5s;
}
.gnb > li > a:hover > span::after {
    width: 100%;
}
/* 
    javascript에서는 display:none 이면
    선택이 안 될 때가 있다.
    opacity: 0은 눈에 안 보이는 상태에서 작동하므로 배제한다.
*/

.mb-bt {
    position: absolute;
    top: 24px;
    right: -20000px;
    width: 30px;
    height: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.mb-bt span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
}
.mb-bt span:nth-child(1) {
    top: 0;
    transition: transform 0.3s;
}
.mb-bt span:nth-child(2) {
    top: calc(50% - 1px);
    transition: opacity 0.2s;
}
.mb-bt span:nth-child(3) {
    bottom: 0;
    transition: transform 0.3s;
}

/* mobile menu */
.mb-nav {
    /* position 값이 relative 라면, 다른 영역에 영향을 준다. */
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding-top: 90px;
    transition: left 0.3s ease-in-out;
}
 .mb-nav.active {
    left: 0;
}
 .mb-bt span {
    background-color: #fff;
    transition: 0.3s;
}
.mb-nav-gnb > li {
    border-bottom: 1px solid #e5e5e5;
}
.mb-nav-gnb > li > a {
    display: block;
    padding: 20px 70px 20px 40px;
    font-size: 24px;
}


/* 스크롤 시 css 적용 */
.header.active {
    height: 80px;
    background-color: rgba(255, 255, 255, 1);
}
.logo.active {
    top: 25px;
    background: url('../images/logo.png');
    background-size: cover;
}
.logo.active-blue {
    background: url('../images/logo.png');
    background-size: cover;
}
.gnb > li > a.active {
    color: #222;
}

/* mobile button animation */
.mb-bt span.active {
    background-color: #222;
}
.mb-bt.active span:nth-child(1) {
    transform: rotate(45deg);
    top: calc(50% - 1px);
}
.mb-bt.active span:nth-child(2) {
    opacity: 0;
}
.mb-bt.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: calc(50% - 1px);
}

/*
    @media 숫자가 증가하는 형태는 모바일 > 타블렛 > 데스크탑 작업,
    감소하는 형태는 데스크탑 > 타블렛 > 모바일 작업
*/

@media screen and (max-width: 1280px) {
    .header {
        height: 90px;
    }

    .logo {
        top: 30px;
        left: 20px;
        width: 150px;
        height: 30px;
    }

    .gnb > li > a {
        padding: 25px 35px;
    }
} 
@media screen and (max-width: 1080px) {
    .header {
        height: 70px !important;
    }

    .logo {
        top: 20px !important;
        left: 20px;
        width: 120px;
        height: 30px;
    }

    .gnb {
        display: none;
    }

    .mb-bt {
        right: 20px;
    }
}


/* visual */

.visual {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

/* .swvisual {}
.visual-img {}
.bg-1 {}
.bg-2 {}
.bg-3 {}
.bg-4 {} */

/* service */

.service {
    position: relative;
    display: block;
}

/* info */

.info {
    position: relative;
    display: block;
}

/* category */

.category {
    position: relative;
    display: block;
}

/* footer */

.footer {
    position: relative;
    display: block;
}